@font-face {
  font-family: '.';
  src: url('6cb6937e73090b564d3d63d291a45852.eot');
  src: url('6cb6937e73090b564d3d63d291a45852.eot?#iefix')
      format('embedded-opentype'),
    url('6cb6937e73090b564d3d63d291a45852.woff2') format('woff2'),
    url('6cb6937e73090b564d3d63d291a45852.woff') format('woff'),
    url('6cb6937e73090b564d3d63d291a45852.ttf') format('truetype'),
    url('6cb6937e73090b564d3d63d291a45852.svg#.') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
