.details {
  display: none;
  /* grid-template-columns: 1fr 3fr; */
  /* grid-template-rows: 1fr 3fr 3fr 3fr; */
  position: absolute;
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.98);
  z-index: 10;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}

.details-exit {
  position: absolute;
  padding: 1rem;
  top: 0;
  right: 0;
  cursor: pointer;
}

.details-exit-icon {
  color: #333333;
  width: 1.6rem;
  height: 1.6rem;
}

.details-title-primary {
  font-size: 3rem;
  color: #333333;
  letter-spacing: -0.1rem;
}

.details-title-secondary {
  font-size: 1.2rem;
  color: #444444;
  letter-spacing: -0.05rem;
}

.details-text {
  font-size: 0.8rem;
  color: #555555;
}

.details-group {
  border: 1px solid #333333;
  border-radius: 1rem;
  padding: 0.8rem 2.4rem;
}

.details-map-link {
  display: inline-block;
  margin: 0.4rem 0.2rem 0 0.2rem;
  padding: 0.4rem 0.8rem;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.2);
  border-radius: 100rem;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.3s;
}

.details-map-link:hover {
  transform: translateY(-0.2rem);
}
